/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------------------------------- */

/* GENERAL */

@font-face {
    font-family: 'Pangram-Light';
    src: url('/assets/fonts/PPPangramSans-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Pangram-CompressedExtrabold';
    src: url('/assets/fonts/PPPangramSans-CompressedExtrabold.otf') format('opentype');
}

@font-face {
    font-family: 'Pangram-Medium';
    src: url('/assets/fonts/PPPangramSans-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Pangram-SlimExtralight';
    src: url('/assets/fonts/PPPangramSans-SlimExtralight.otf') format('opentype');
}

@font-face {
    font-family: 'Pangram-Reclined';
    src: url('/assets/fonts/PPPangramSans-SlimMediumReclined.otf') format('opentype');
}

:root {
    --bg-color: #FFFEF9;
    --text-color: #1C1C1C;
    --red-color: rgb(171, 27, 27);
}

::selection {
    background-color: var(--text-color);
    color: var(--red-color);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Pangram-Light', sans-serif;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
}

.full-screen {
    width: 100dvw;
    height: 100dvh;
    position: relative;
    overflow: hidden;
}

h1,
h2,
h3 {
    font-family: 'Pangram-CompressedExtrabold', sans-serif;
}

strong {
    font-family: 'Pangram-Medium', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* NAV */

.header {
    position: fixed;
    top: 24px;
    left: 24px;
    z-index: 100;
    mix-blend-mode: difference;
    color: #e3e3e3;
}

.menu {
    font-family: 'Pangram-SlimExtralight', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;

    span {
        pointer-events: none;
    }
}

.menu a {
    min-width: 100px;
    text-align: center;
}

.menu a:hover {
    font-family: 'Pangram-Reclined', sans-serif;
}

/* ABOUT */

.heading-about {
    position: fixed;
    white-space: nowrap;
    font-size: 27vw;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.about-img {
    position: fixed;
    object-fit: contain;
    height: 40vw;
    top: 45%;
    transform: translateY(-50%);
    right: 10vw;
}

.about-txt {
    width: 35vw;
    padding: 120px;
}

/* AWARDS */

.heading-awards {
    position: fixed;
    white-space: nowrap;
    font-size: 20vw;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
    z-index: 50;
    color: #e3e3e3;
    mix-blend-mode: difference;
}

.awards-container {
    width: 40%;
    height: 100%;
    overflow: auto;
    position: relative;
    left: 44px;
    padding-top: 200px;
}

.awards-list {
    text-align: left;

    li {
        margin-bottom: 16px;
    }
}

.awards-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40vw;
}